body{
    background-color: rgb(68, 68, 68);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px; 
    min-height: 180px;
    width: 384px;
}
h1{
    color: white; 
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px; 
    margin: 0;
}

p{
    color: white;
    font-family: Roboto, Arial, sans-serif;
}

img{
    width: 30px;
}

.button{
    background-color: #cc0000;
    border: none;
    color: white;
    /*padding: 20px 34px;*/
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}